In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.metrics.pairwise import cosine_similarity
warnings.filterwarnings('ignore')

In [73]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

In [74]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [76]:
movies['title'] = movies['title'].str[:-7].str.lower()

In [77]:
movies

,movieId,title,genres
0,1,toy story,Adventure|Animation|Children|Comedy|Fantasy
1,2,jumanji,Adventure|Children|Fantasy
2,3,grumpier old men,Comedy|Romance
3,4,waiting to exhale,Comedy|Drama|Romance
4,5,father of the bride part ii,Comedy
...,...,...,...
9737,193581,black butler: book of the atlantic,Action|Animation|Comedy|Fantasy
9738,193583,no game no life: zero,Animation|Comedy|Fantasy
9739,193585,flint,Drama
9740,193587,bungo stray dogs: dead apple,Action|Animation
9741,193609,andrew dice clay: dice rules,Comedy

In [111]:
movies[movies['title']=="emperor's new groove, the"]

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
3000,4016,"emperor's new groove, the",0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [78]:
mlb = MultiLabelBinarizer()
dummies = pd.DataFrame(mlb.fit_transform(movies['genres'].str.split("|")),columns=mlb.classes_, index=movies.index)
dummies

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9738,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9739,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
9740,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9741,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [79]:
movies = movies.join(dummies).drop(columns=['genres'])

In [80]:
movies

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,toy story,0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,jumanji,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,grumpier old men,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,waiting to exhale,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,5,father of the bride part ii,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,black butler: book of the atlantic,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9738,193583,no game no life: zero,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9739,193585,flint,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9740,193587,bungo stray dogs: dead apple,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9741,193609,andrew dice clay: dice rules,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [81]:
similarity = cosine_similarity(movies.drop(columns=['movieId','title']))

In [82]:
similarity_df = pd.DataFrame(similarity, index=movies['title'],columns=movies['title'])
similarity_df

title,toy story,jumanji,grumpier old men,waiting to exhale,father of the bride part ii,heat,sabrina,tom and huck,sudden death,goldeneye,...,gintama: the movie,anohana: the flower we saw that day - the movie,silver spoon,love live! the school idol movie,jon stewart has left the building,black butler: book of the atlantic,no game no life: zero,flint,bungo stray dogs: dead apple,andrew dice clay: dice rules
title,,,,,,,,,,,,,,,,,,,,,
toy story,1.000000,0.774597,0.316228,0.258199,0.447214,0.000000,0.316228,0.632456,0.000000,0.258199,...,0.447214,0.316228,0.316228,0.447214,0.0,0.670820,0.774597,0.00000,0.316228,0.447214
jumanji,0.774597,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.816497,0.000000,0.333333,...,0.000000,0.000000,0.000000,0.000000,0.0,0.288675,0.333333,0.00000,0.000000,0.000000
grumpier old men,0.316228,0.000000,1.000000,0.816497,0.707107,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.353553,0.000000,0.500000,0.000000,0.0,0.353553,0.408248,0.00000,0.000000,0.707107
waiting to exhale,0.258199,0.000000,0.816497,1.000000,0.577350,0.000000,0.816497,0.000000,0.000000,0.000000,...,0.288675,0.408248,0.816497,0.000000,0.0,0.288675,0.333333,0.57735,0.000000,0.577350
father of the bride part ii,0.447214,0.000000,0.707107,0.577350,1.000000,0.000000,0.707107,0.000000,0.000000,0.000000,...,0.500000,0.000000,0.707107,0.000000,0.0,0.500000,0.577350,0.00000,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
black butler: book of the atlantic,0.670820,0.288675,0.353553,0.288675,0.500000,0.288675,0.353553,0.000000,0.500000,0.288675,...,0.750000,0.353553,0.353553,0.500000,0.0,1.000000,0.866025,0.00000,0.707107,0.500000
no game no life: zero,0.774597,0.333333,0.408248,0.333333,0.577350,0.000000,0.408248,0.000000,0.000000,0.000000,...,0.577350,0.408248,0.408248,0.577350,0.0,0.866025,1.000000,0.00000,0.408248,0.577350
flint,0.000000,0.000000,0.000000,0.577350,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.707107,0.707107,0.000000,0.0,0.000000,0.000000,1.00000,0.000000,0.000000
bungo stray dogs: dead apple,0.316228,0.000000,0.000000,0.000000,0.000000,0.408248,0.000000,0.000000,0.707107,0.408248,...,0.707107,0.500000,0.000000,0.707107,0.0,0.707107,0.408248,0.00000,1.000000,0.000000
andrew dice clay: dice rules,0.447214,0.000000,0.707107,0.577350,1.000000,0.000000,0.707107,0.000000,0.000000,0.000000,...,0.500000,0.000000,0.707107,0.000000,0.0,0.500000,0.577350,0.00000,0.000000,1.000000

In [211]:
search = input("Enter the title of your favorite movie: ").lower()

Enter the title of your favorite movie:  Mean GIRls

In [213]:
search_results = similarity_df.loc[search].sort_values(ascending=False).head(21).index.to_list()[1:]

In [214]:
search_results

['how to lose friends & alienate people',
 'step brothers',
 'hamlet 2',
 'waterboy, the',
 'house bunny, the',
 'rocker, the',
 'disaster movie',
 'onion movie, the',
 'orgazmo',
 'holy man',
 'celebrity',
 'role models',
 'my cousin vinny',
 'producers, the',
 'sex drive',
 'night at the roxbury, a',
 'impostors, the',
 'four christmases',
 'fiendish plot of dr. fu manchu, the',
 'heart condition']

In [21]:
ratings.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [142]:
avg_rating = ratings[['movieId','rating']].groupby('movieId').mean()
avg_rating

           rating
movieId
1        3.920930
2        3.431818
3        3.259615
4        2.357143
5        3.071429
...           ...
193581   4.000000
193583   3.500000
193585   3.500000
193587   3.500000
193609   4.000000

[9724 rows x 1 columns]

In [147]:
movies_rated = movies[['title','movieId']].merge(avg_rating, how='inner', on='movieId')
movies_rated

                                   title  movieId    rating
0                              toy story        1  3.920930
1                                jumanji        2  3.431818
2                       grumpier old men        3  3.259615
3                      waiting to exhale        4  2.357143
4            father of the bride part ii        5  3.071429
...                                  ...      ...       ...
9719  black butler: book of the atlantic   193581  4.000000
9720               no game no life: zero   193583  3.500000
9721                               flint   193585  3.500000
9722        bungo stray dogs: dead apple   193587  3.500000
9723        andrew dice clay: dice rules   193609  4.000000

[9724 rows x 3 columns]

In [215]:
m = {}
for s in search_results:
    m[s] = movies_rated[movies_rated['title']==s]['rating'].values[0]
top10 = list(sorted(m.items(), key=lambda item: item[1], reverse = True))[:10]
top10

[('impostors, the', 4.5),
 ('onion movie, the', 4.0),
 ('producers, the', 3.9696969696969697),
 ('role models', 3.625),
 ('sex drive', 3.625),
 ('step brothers', 3.5535714285714284),
 ('heart condition', 3.5),
 ('my cousin vinny', 3.26271186440678),
 ('waterboy, the', 3.1785714285714284),
 ('orgazmo', 3.1153846153846154)]

In [22]:
matrix = ratings.pivot_table(columns='movieId', index='userId', values='rating').fillna(0)
matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
matrix.columns

Index(['movieId',         1,         2,         3,         4,         5,
               6,         7,         8,         9,
       ...
             601,       602,       603,       604,       605,       606,
             607,       608,       609,       610],
      dtype='object', name='userId', length=611)